<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="public/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="CROSS_APP_URL" content="<%= CROSS_APP_URL %>" />
    <title>
        Sound AIR
    </title>
</head>
<body>
<div id="app"></div>
<div class='handy-notify'>
    <span></span>
</div>
<script type="module" src='/src/main.ts'></script>
</body>
</html>
