<template>
  <div>
    <div class="container max-w-lg px-4 pt-32 mx-auto text-left md:max-w-none md:text-center">
      <h1 class="text-5xl font-extrabold leading-10 tracking-tight text-left text-gray-900 md:text-center sm:leading-none md:text-6xl lg:text-7xl">
        <span class="inline md:block dark:text-white "> {{ $t("prepareToFocus") }} </span>
        <span
            class="relative py-3 text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 to-indigo-500 md:inline-block post-content"> {{
            $t("increaseYourProductivity")
          }} </span>
      </h1>
      <div class="mx-auto mt-5 text-gray-500 dark:text-gray-200 md:mt-8 md:max-w-lg md:text-center lg:text-lg">
        {{ $t("areYouStudyingOr") }}
      </div>
      <div class="flex justify-center items-center w-full">
        <div class="flex justify-center items-center w-full md:w-1/2">
          <div class="flex flex-col justify-center items-center mt-8 w-full">
            <router-link to="/app/sounds"
                         class="inline-flex items-center justify-center w-full px-8 py-2 text-base font-bold leading-6 text-white bg-indigo-600 border border-transparent rounded-full hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 px-20 scale-[0.9] hover:scale-[1] transition transition-transform">
              <img width="50" height="60" class="mr-3" src="/src/assets/images/icon/weather-app.png"
                   alt="weather-app"/>
              {{ $t("tryNow") }}
            </router-link>
            <!-- <span class="absolute top-0 right-0 px-2 py-1 -mt-3 -mr-2 text-xs font-medium leading-tight text-white bg-green-400 rounded-full">{{ $t("freeNow") }}</span> -->

            <router-link to="/app/categories"
                         class="inline-flex items-center justify-center w-full px-8 py-2 my-2 text-base font-bold leading-6 text-white bg-orange-800 border border-transparent rounded-full hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-800 px-20 scale-[0.9] hover:scale-[1] transition transition-transform">
              <img width="50" height="60" class="mr-3" src="/src/assets/images/icon/playlist.png"
                   alt="playlist"/>
              {{ $t("categories") }}
            </router-link>
            <router-link to="/app/weather"
                         class="inline-flex items-center justify-center w-full px-8 py-2  text-base font-bold leading-6 text-white bg-lime-600 border border-transparent rounded-full hover:bg-lime-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-600 px-20 scale-[0.9] hover:scale-[1] transition transition-transform">
              <img width="50" height="60" class="mr-3" src="/src/assets/images/icon/map.png"
                   alt="map"/>
              {{ $t("map") }}
            </router-link>
            <!--        <router-link to="/app/privacy_policy" class="mt-3 text-sm text-indigo-500">{{ $t("termsAndConditionsApply") }}</router-link>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: 'TryNowSection',
};
</script>

<style scoped>
.post-content {
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
