<template>
  <div class="bg-white dark:bg-gray-900">
    <div class="sm:mx-20 pb-20">
      <div class="relative">
        <div class="py-10 px-4">
          <h1 class="font-extrabold leading-10 tracking-tight text-center sm:text-left text-gray-900 md:text-center sm:leading-none text-2xl sm:text-5xl md:text-6xl lg:text-5xl">
            <span class="inline md:block dark:text-gray-200">{{ $t("clickingOnTheIcons") }} </span>
            <span
                class="relative py-3 text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 to-indigo-500 md:inline-block pl-3"> {{
                $t("startPlaying")
              }}</span> <span> 😸</span>
          </h1>
        </div>

        <div v-if="sounds.length" class="flex flex-wrap justify-center items-center w-full md:max-w-6xl mx-auto">
          <div class="flex flex-wrap justify-center items-center">
              <div class="p-5 w-1/5 h-[200px] m-3 flex justify-center items-center" v-for="(sound, index) in sounds" :key="index">
                <div class="flex flex-col justify-center items-center">
                  <div class="relative flex flex-col items-center justify-center text-5xl sm:text-7xl">
                    <i class="opacity-50 hover:opacity-100 cursor-pointer bg-gradient-to-r from-blue-400 to-blue-400 inline-block text-transparent bg-clip-text" :title="sound.name" :class="sound.icon"
                       :style="sound.active ? 'opacity: 1' : ''" @click="playAudioIcon(sound._id)"></i>
                  </div>
                  <div class="text-white text-center flex flex-col">
                    <span class="opacity-75 py-2 text-xs"> {{ sound.name }}</span>

                    <div v-if="sound.showButton" class="h-[25px]">
                      <input type="range" min="0" max="100" class="range scale-[0.9]" step="5" @input="toggleVolumeButton(sound._id)" v-model="sound.volume" />
                    </div>

                    <span v-else class="h-[25px]"></span>
                  </div>
                </div>
            </div>

          </div>


        </div>

        <div v-else class="flex justify-center items-center pt-16 pb-32 w-full">
          <!--        <loading-terminal />-->
          <div
              class="grid-1 my-auto h-20 w-20 mx-3 mb-20 border-t-transparent border-solid animate-spin rounded-full border-gray-100 border-[10px]"></div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingTerminal from '@/components/errors_load/LoadingTerminal.vue';
import {mapState, mapActions} from 'vuex';

export default {
  name: 'SoundsPage',
  components: {LoadingTerminal},

  data() {
    return {
      errors: {},
    };
  },

  computed: {
    ...mapState('Sounds', ['sounds', 'inThePlaylist']),


  },

  methods: {
    ...mapActions('Sounds', ['getAudios', 'playSettings', 'volumeSettings']),

    async playAudioIcon(id) {
      await this.playSettings(id);
    },

    async toggleVolumeButton(id) {
      await this.volumeSettings(id);
    },

    async fetchSounds() {
      try {
        await this.getAudios();
        this.errors = {};
      } catch (e) {
        this.errors = e;
      }
    },

  },

  async created() {
    if (!this.sounds.length) {
      await this.fetchSounds();
    }
  },

};
</script>

<style scoped>
.volumeSlider {
  -webkit-appearance: none;
  width: 75px;
  height: 5px;
  border-radius: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  z-index: 10;
}

.volumeSlider:hover {
  opacity: 1;
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #818080;
}
</style>

