<template>
  <div>
    <div class="bg-gray-900">
      <div class="max-w-3xl mx-auto text-white px-1 py-10">
        <div class="text-center">
          <h3 class="text-3xl font-extrabold leading-10 tracking-tight mb-3"> {{ $t("downloadOurMobileApp") }}</h3>
          <p> {{ $t("tryItOnAllPlatforms") }}</p>
          <div class="flex flex-wrap justify-center my-10">
            <a href="https://play.google.com/store/apps/details?id=com.soundair.app&pli=1">
              <div class="flex items-center border w-auto rounded-lg px-4 py-2 w-52 mx-2 m-4 relative">
                <img src="https://cdn-icons-png.flaticon.com/512/888/888857.png" class="w-7 md:w-8">
                <div class="text-left ml-3">
                  <p class='text-xs text-gray-200'>Download on </p>
                  <p class="text-sm md:text-base"> Google Play Store </p>
                </div>
                <!-- <span
                  class="absolute top-0 right-0 px-2 py-1 -mt-3 -mr-6 text-xs font-medium leading-tight text-white bg-green-400 rounded-full z-10 uppercase">{{
                      $t("tryNow")
                  }}</span> -->
              </div>
            </a>

            <div class="flex items-center border w-auto rounded-lg px-4 py-2 w-44 mx-2 m-4 relative">
              <img src="https://cdn-icons-png.flaticon.com/512/888/888841.png" class="w-7 md:w-8">
              <div class="text-left ml-3">
                <p class='text-xs text-gray-200'>Download on </p>
                <p class="text-sm md:text-base"> Apple Store </p>
              </div>
              <span
                class="absolute top-0 right-0 px-2 py-1 -mt-3 -mr-6 text-xs font-medium leading-tight text-white bg-green-400 rounded-full z-10 uppercase">{{
                    $t("soon")
                }}</span>
            </div>
          </div>
        </div>
        <div class="mt-28 flex flex-col md:flex-row md:justify-around items-center text-xs text-gray-400">
          <p class="my-8 md:my-0 md:mt-0 mx-1 text-center">{{ $t("footerSignature") }} &copy;</p>
          <div>
            <span class="px-2 hover:text-indigo-600">
              <router-link :to="{ name: 'About' }">{{ $t("aboutUs") }}</router-link>
            </span>
            <span class="px-2 border-l hover:text-indigo-600">
              <router-link :to="{ name: 'Contact' }">{{ $t("contactUs") }}</router-link>
            </span>
            <span class="px-2 border-l hover:text-indigo-600">
              <router-link :to="{ name: 'PrivacyPolicy' }">{{ $t("privacyPolicy") }}</router-link>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TheFooter',
};
</script>
