<template>
<div class="bg-white dark:bg-gray-900 pt-3 fixed w-full z-50">
    <!--    <span class="text-white"> {{ $t("buildYourOwnOrTryOurs") }}</span>-->
    <nav class="relative z-20 select-none border-b border-gray-200 dark:border-white">
        <div class="container relative flex flex-wrap items-center justify-between h-24 mx-auto overflow-hidden font-medium md:overflow-visible lg:justify-center sm:px-4 md:px-2">
            <div class="flex items-center justify-start md:w-1/4 pr-4 z-50">
                <router-link to="/" class="py-4 md:py-0 w-full ">
                    <!--            <span class="p-1 text-xl leading-none text-gray-900 dark:text-white">-->
                    <!--              <span>sound air</span><span class="text-indigo-600">.</span>-->
                    <!--            </span>-->
                    <span class="dark:hidden block">
                        <img src="@/assets/images/logo/sound-air-black-1280x720.png" width="120" class="pl-10 md:pl-0 md:pr-20 lg:pr-2" alt="Sound Air" />
                    </span>
                    <span class="dark:block hidden">
                        <img src="@/assets/images/logo/sound-air-white-1280x720.png" width="120" class="pl-10 md:pl-0 md:pr-20 lg:pr-2" alt="Sound Air" />
                    </span>
                </router-link>
            </div>
            <div class="top-0 left-0 items-start hidden w-full h-full p-4 text-sm bg-opacity-50 md:items-center md:w-3/4 md:absolute lg:text-base md:bg-transparent md:p-0 md:relative md:flex">
                <!--WEB-DEVICES-->
                <div class="flex justify-between flex-col w-full h-auto overflow-hidden bg-white rounded-lg md:bg-transparent md:overflow-visible md:rounded-none md:relative md:flex md:flex-row">

                    <div class="flex items-start justify-center w-full space-x-6 text-center lg:space-x-8 md:w-2/4 md:mt-0 md:flex-row md:items-center">
                        <div v-for="(item, index) in headerMenuItems" :key="index">
                            <router-link :to="{ name: item.name }" class="flex justify-center items-center inline-block w-full py-2 mx-2 ml-6 font-medium text-left dark:text-white hover:text-indigo-600 dark:hover:text-indigo-600 md:ml-0 md:w-auto md:px-0 md:mx-2 lg:mx-3 md:text-center">
<!--                              <i class="text-xs pr-2" :class="item.icon"></i> -->
                              {{ item.title}}
                            </router-link>
                        </div>
                    </div>

                    <div class="flex justify-end items-center">
                        <dark-mode />
                        <language />
                    </div>
                </div>
                <!--/WEB-DEVICES-->

            </div>

          <div class="flex md:hidden">
            <dark-mode />
            <language />
          </div>
            <div v-if="false" @click="showMenu = !showMenu" class="absolute right-0 flex flex-col items-center justify-center w-10 h-10 rounded-full cursor-pointer md:hidden text-xl text-gray-100 mr-5">
                <div v-show="showMenu">
                    <i class="fas fa-circle-xmark"></i>
                </div>
                <div v-show="!showMenu">
                    <i class="fa-solid fa-align-justify"></i>
                </div>
            </div>

        </div>

        <!--MOBILE-DEVICES
        <transition name="fade" v-show="showMenu">
            <div>
                <div class="flex flex-wrap justify-center items-center py-3">

                    <dark-mode />
                    <language />

                    <router-link :to="{ name: item.name }" class="rounded-full bg-indigo-700 text-gray-200 text-xs font-bold mx-5 py-2 my-2 text-center border-2 border-indigo-400 w-36" v-for="(item, index) in headerMenuItems" :key="index" @click="showMenu = !showMenu">{{ item.title }}</router-link>

                </div>
            </div>
        </transition>
        /MOBILE-DEVICES-->
    </nav>

    <transition name="fade" v-show="showMenu">
        <the-side-bar :headerMenuItems="headerMenuItems" @close="showMenu = !showMenu"></the-side-bar>
    </transition>

</div>
</template>

<script>
import DarkMode from '@/components/base/DarkMode.vue';
import Language from '@/components/base/Language.vue';
import TheSideBar from '@/components/base/TheSideBar.vue'

export default {
    name: 'TheHeader',
    components: {
        DarkMode,
        Language,
        TheSideBar
    },

    data() {
        return {
            showMenu: false,

            headerMenuItems: [{
                    title: this.$t('homePage'),
                    name: 'Public',
                    icon: 'fas fa-house',
                },
                {
                    title: this.$t('listen'),
                    name: 'Sounds',
                    icon: 'fas fa-play',
                },
                {
                    title: this.$t('categories'),
                    name: 'Categories',
                    icon: 'fas fa-boxes-stacked',
                },
                {
                    title: this.$t('map'),
                    name: 'Weather',
                    icon: 'fas fa-map-location-dot',
                },
                {
                    title: this.$t('Learn'),
                    name: 'HowItsWorks',
                    icon: 'fas fa-graduation-cap',
                },
                {
                    title: this.$t('contact'),
                    name: 'Contact',
                    icon: 'fas fa-feather-pointed',
                },
                {
                    title: this.$t('donate'),
                    name: 'Donate',
                    icon: 'far fa-heart',
                },
            ]
        };
    },

};
</script>

<style scoped>
.router-link-active {
    color: #4f46e5;
}

@media (max-width:800px) {
    .router-link-active {
        color: rgb(129 140 248);
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}
</style>
