<template>
  <div class="fixed inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-center justify-center min-h-screen px-4 text-center sm:block sm:p-0">
      <div @click="close" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity mt-[110px]"
           aria-hidden="true"></div>

      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
      <div class="fixed h-screen left-0 pt-[110px] w-[200px] z-40">
        <aside class="flex flex-col items-center bg-white dark:bg-gray-900 text-gray-700 shadow h-full">
          <!-- Side Nav Bar-->

<!--          <div class="h-16 flex items-center w-full">-->
<!--            &lt;!&ndash; Logo Section &ndash;&gt;-->
<!--            <a class="h-6 w-6 mx-auto" href="https://emresolmaz.com.tr" target="_blank">-->
<!--              <i class="fas fa-gift text-purple-500"></i>-->
<!--            </a>-->
<!--          </div>-->

          <ul>
            <li v-for="(item, index) in headerMenuItems" :key="index"
                @click="close">
              <router-link :to="{ name: item.name }"
                           class="flex justify-center items-center py-4 font-medium text-left dark:text-white hover:text-indigo-600 dark:hover:text-indigo-600 md:text-center">
                <!--                               <i class="text-gray-400" :class="item.icon"></i> -->
                {{ item.title }}
              </router-link>
            </li>
            <li class="py-4">
              <dark-mode/>
            </li>
            <li>
              <language/>
            </li>
          </ul>

<!--          <div class="mt-auto p-2 flex items-center w-full">-->
<!--            &lt;!&ndash; Action Section &ndash;&gt;-->
<!--            <button-->
<!--                class="text-[13px] mx-auto flex justify-center items-center w-full focus:text-orange-500 hover:bg-red-200 focus:outline-none">-->
<!--              <p class="text-left">{{ $t("footerSignature") }} &copy;</p>-->
<!--            </button>-->
<!--          </div>-->

        </aside>
      </div>
    </div>
  </div>
</template>

<script>
import DarkMode from '@/components/base/DarkMode.vue';
import Language from '@/components/base/Language.vue';

export default {
  name: 'TheSideBar',
  components: {DarkMode, Language},

  props: ['headerMenuItems'],
  methods: {
    close() {
      this.$emit('close');
    },
  },
};
</script>

<style scoped>
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
  #412b92 0%,
  #6624ad 29%,
  #852042 67%,
  #612791 100%);
  background-size: auto auto;
  background-clip: border-box;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.router-link-active {
  color: #4f46e5;
}


</style>
