<template>
  <div class="bg-white dark:bg-gray-900">
    <div class="w-full flex justify-center items-center">

     <div class="w-full flex flex-col justify-center items-center py-10 px-4">
      <div class="bg-gray-800 text-white w-full max-w-5xl flex flex-col rounded-xl shadow-lg p-4 min-h-xl">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-4">
            <div class="rounded-full w-4 h-4 border border-purple-500"></div>
            <div class="text-md font-bold">SOUND AIR PRIVACY POLICY</div>
          </div>
          <div class="flex items-center space-x-4">
            <div class="cursor-pointer">

            </div>
            <div class="text-gray-500 hover:text-gray-300 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
              </svg>
            </div>
            <div class="text-gray-500 hover:text-gray-300 cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-4 text-gray-400 font-bold text-sm">
          <div>
              <small>#Last updated and effective date: July 16, 2022</small>

              <p class="my-4">Welcome to Sound AIR. Sound AIR provides a social online and mobile-enabled chat platform through its website (“Site”), Sound AIR app (“Application”) and related internet services (collectively, “Service (s)”). Service; operated by the Oyuncudefteri.com ("Company" or "we") for service users ("you"). This Privacy Policy sets out our policy regarding the information collected from those who visit the Site and use the Application and / or Services. Under the applicable legislation, Sound AIR Company is the "data controller" of personal data collected through the Services. </p>

              <h6 class="my-4 text-center">INFORMATION WE COLLECT</h6>
              <p>When you interact with us through the Services, we may collect information from you, as detailed below:</p>
              <p>Information You Provide: We collect information from you when you voluntarily provide such information: eg. When you register to access the Services or use certain Services. Information we collect includes, but is not limited to, username, email address and any message you send via contact feature.</p>

              <h6 class="my-4 text-center">DATA STORAGE</h6>
              <p>Generally, we retain personal data for as long as it is linked to the purposes set out in this document. We may anonymize, delete or take other appropriate steps to destroy personal data. Copies of data created for purposes such as backup and business continuity may continue to exist for an additional period of time.</p>

              <h6 class="my-4 text-center">LINKS TO OTHER WEB SITES</h6>
              <p>This Privacy Policy only applies to the Services. The Services may contain links to other websites that are not operated or controlled by us (“Third Party Sites”). The policies and procedures we describe here do not apply to Third Party Sites. Links on the Services do not imply that we endorse or review Third Party Sites. We recommend that you contact the sites directly to obtain information about the privacy policies of these sites.</p>

              <h6 class="my-4 text-center">ADS</h6>
              <p>Ads: You can see the advertisement of our service on other applications or websites. After clicking one of these advertisements and installing our Service, you will become a user of the Service. Advertising platforms including Twitter and Facebook (and integrated into our Software Development Kits (SDK) Service) may collect information to optimize advertising campaigns outside of the Service.</p>

              <h6 class="my-4 text-center">CONTACT US</h6>
              <p>If you have any questions regarding this Privacy Policy or the information practices of the Services, please contact us at any time. You can send us a message at shorproduction@gmail.com or <router-link :to="{name: 'Contact'}">here.</router-link></p>

            </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'PrivacyPolicy',
};
</script>
