<template>
  <section class="w-full h-full bg-white dark:bg-gray-900">
    <the-header />
    <div class="mx-auto">

      <div class="relative">
        <button class="inline-block fixed bottom-0 right-0 m-10">
          <router-link to="/app/sounds">
            <i class="fa-solid fa-bell h-10 w-10 text-gray-700 text-3xl opacity-50 hover:opacity-100"></i>
            <span class="animate-ping absolute top-0.5 right-0.5 block h-1 w-1 rounded-full ring-2 ring-green-400 bg-green-600"></span>
          </router-link>
        </button>
      </div>

      <div class="relative">
        <div class="sticky top-0 flex h-screen items-center justify-center">
<!--          <img src="https://www.stockvault.net/data/2012/10/29/137060/preview16.jpg" class="h-full w-full object-cover blur-md" />-->
          <div class="absolute left-0 right-0 m-auto flex w-2/4 flex-col items-start justify-center gap-4 p-10 backdrop-blur-xl">
            <try-now-section />
          </div>
        </div>
        <div class="sticky top-0 flex h-screen items-center justify-center bg-white dark:bg-gray-900">
<!--          <img src=" https://www.stockvault.net/data/2016/03/14/187739/preview16.jpg" class="h-full w-full object-cover" />-->

          <div class="absolute left-0 right-0 m-auto flex w-2/4 flex-col items-start justify-center gap-4 p-10 backdrop-blur-xl">
            <div class="py-32 flex justify-center items-center">

              <card class="grid grid-cols-6 max-w-5xl mx-8 py-5 rounded-xl bg-blue-800">

                <div class="col-span-4">

                  <h2 class="font-bold text-2xl text-white ml-10 mt-8">
                    {{ $t("buildYourOwnOrTryOurs") }}
                  </h2>

                  <p class="font-light text-white text-sm ml-10 mt-5">
                    {{ $t("createYourOwnCategoryWith") }}
                  </p>

                  <div class="text-white font-semibold ml-10 mt-6 mb-8 group">
                    <router-link :to="{ name: 'HowItsWorks' }">
                      {{ $t("downloadOurMobileApp") }}
                      <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-6 w-6 group-hover:translate-x-2 transition delay-100 transition-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                      </svg>
                    </router-link>
                  </div>

                </div>

                <div class="col-span-2 relative">
                  <img src="https://www.digitalocean.com/_next/static/media/cloudJourneyImage.954519ea.svg"  class="absolute bottom-0 right-0"/>
                </div>

              </card>

            </div>
          </div>
        </div>

        <div v-if="false" class="sticky top-0 flex h-screen items-center justify-center">
          <img src="https://www.stockvault.net/data/2014/10/06/163147/preview16.jpg" class="h-full w-full object-cover" />

          <div class="absolute left-0 right-0 m-auto flex w-2/4 flex-col items-start justify-center gap-4 p-10 backdrop-blur-xl">
            <h2 class="text-2xl font-bold text-white">Third Section</h2>
            <p class="font-sans text-lg text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>

        <div v-if="false" class="sticky top-0 flex h-screen items-center justify-center">
          <img src="https://www.stockvault.net/data/2016/03/14/187732/preview16.jpg" class="h-full w-full object-cover" />

          <div class="absolute left-0 right-0 m-auto flex w-2/4 flex-col items-start justify-center gap-4 p-10 backdrop-blur-xl">
            <h2 class="text-2xl font-bold text-white">Fourth Section</h2>
            <p class="font-sans text-lg text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>
      </div>


    </div>

  </section>

  <the-footer />

</template>

<script>
import TheHeader from '@/components/base/TheHeader.vue';
import TheFooter from '@/components/base/TheFooter.vue';
import TryNowSection from '@/modules/public/components/TryNowSection.vue';

export default {
  name: 'Public',
  components: { TheHeader, TheFooter, TryNowSection },
};
</script>
