<template>
  <div :class="darkMode ? 'dark' : 'light'">
    <router-view />
  </div>
</template>

<script>
import { App } from '@capacitor/app';
import { StatusBar } from '@capacitor/status-bar';
import { mapState, mapActions } from 'vuex';

export default {
  name: 'App',


  computed: {
    ...mapState('Core', ['darkMode']),
  },

  methods: {
    ...mapActions('Core', ['changeTheme']),
  },

  async created() {
    await StatusBar.setOverlaysWebView({ overlay: true });

    App.addListener('backButton', () => {
      this.$router.go(-1)
    });

    const localStorageLang = localStorage.getItem('lang');

    if (!localStorageLang) {
      localStorage.setItem('lang', 'tr');
    }
  },

};
</script>
